.funny-glasses {
    position: relative;
    left: 215px;
    bottom: 110px;
}

.bandana {
    position: absolute;
    top: 170px;
    left: 110px;
}

.pawprint {
    position: fixed;
    top: 45px;
    left: 65px;
}

.luna {
    position: sticky;
    left: 0;
}

.top-hat {
    position: relative;
    z-index: 1;
}